$primary-color: #ffffff;
$secondary-color: #1100ff;
$accent-color: #1100ff;
$font-family: monospace;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $primary-color;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.layout {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: calc(100vw - 20px);
  height: 100vh;
}

.visuals {
  // use 6 columns and 6 rows
  grid-column: 5 / span 6;
  grid-row: 4 / span 6;

  &__container {
    height: 100%;
    width: 100%;
    canvas {
      border: 1px solid $secondary-color;
    }
  }

  &__loader {
    display: none;
    color: $secondary-color;
  }

  #visInfo {
    display: none;
  }

  &__info {
    width: 100%;
    height: 10vh;
    display: inline-flex;
    color: $secondary-color;
    justify-content: space-between;
    padding-top: 10px;
    text-transform: uppercase;

    #fsBtn {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.loader {
  display: none;
}

.menu {
  // use 3 cols and 3 rows on the right side
  grid-column: 1 / span 1;
  grid-row: 4 / span 4;
  background-color: $secondary-color;
  padding: 10px;

  &__title {
    color: $primary-color;
    font-size: 1.5rem;
    height: 30%;
  }

  &__form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;

    position: relative;

    label {
      color: $primary-color;
      font-size: 1rem;
      margin-bottom: 5px;
    }

    .stationInput {
      width: 100;

      background-color: $secondary-color;
      border: none;
      border-bottom: 1px solid $primary-color;
      padding: 2px;
      color: $primary-color;

      font-size: 1.2rem;

      &:focus {
        border-color: $primary-color;
      }
    }

    .submitBtn {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2rem;

      color: $primary-color;

      background-color: $secondary-color;
      border: 1px solid $primary-color;
      text-transform: uppercase;

      cursor: pointer;

      &:hover {
        background-color: $primary-color;
        color: $secondary-color;
      }

      &.loading {
        background-color: $primary-color;
        color: $secondary-color;
        cursor: not-allowed;
      }
    }
  }
}

.information {
  // use whole first row
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;

  color: $secondary-color;

  display: inline-flex;

  justify-content: space-between;

  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;

  border-bottom: 1px solid $secondary-color;
}
