$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #f6ff00;
$font-family: monospace;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $primary-color;
}

#p5Container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.loader {
  display: none;
}

.menu {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 10vw;
  height: 10vh;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.information {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: $accent-color;

  display: inline-flex;

  justify-content: space-between;

  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
